@import "../../../mypzkit/components/mypz.scss";

.forgot-password-popup {
  padding: 1rem;
  min-width: 30vw;
  
  .forgot-password-popup__content {
    display: flex;
    flex-direction: column;
  }

  .forgot-password-popup__title {
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
  }

  .forgot-password-popup__field {
    margin: 0.5rem 0;
  }
}