@import "../../../mypzkit/components/mypz.scss";

.input-checkbox-group {

  .input-checkbox-group__title {
    font-size: 13px;
    color: $color-third;
    font-weight: bold;
  }

  .input-checkbox-group__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > * {
      width: 31%;

      @include tabletBreakpoint() {
        width: 48%;
      }

      @include mobileBreakpoint() {
        width: 100%;
      }
    }
  }

  .form-luxury-help__input-checkbox-label {
    font-size: 13px;
  }
}