@import "../../mypzkit/components/mypz.scss";

.page-terms {
  p {
    font-size: 13px;
  }

  .page-terms__description {
    text-align: center;
  }

  .page-terms__content {
    ol {
      li {
        list-style: upper-roman;
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 1rem;

        ol {
          li {
            font-weight: lighter;
            list-style: upper-alpha;
            font-size: 13px;
            margin-bottom: 0.5rem;

            ol {
              li {
                list-style: decimal;
                font-size: 12px;
                margin-bottom: 0.2rem;

                ol {
                  li {
                    list-style: lower-alpha;
                    font-size: 11px;
                    margin-bottom: 0.2rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .page-terms__footer {
    font-weight: bold;
    margin: 1rem 0;
    font-size: 13px;
  }
}