
.NavBar {
	padding:0.2em;
	margin: 0.2em;
	background-color: white;
	color: #000000;
}

.NavBar_OutSide {
	list-style: none;
	padding: 10px 16px;
}

.NavBar_Step {
	display: inline;
	padding: 0.1rem;
	margin: 0.1rem;
}

.NavBar_Step ul li+li::before {
	//padding: 10px;
}
.NavBar_Step a {
	text-decoration: none;
}
.NavBar_First_Step {
	//margin-left: 1em;
	
}
.NavBar_Continues_Step {
	
}

.NavBar_Continues_Step::before {
	content: "/\00a0";
}

.NavBar_Continues_Link {
    font-size: 12px;
    line-height: 12px;
}
.NavBar_End_Link {
    font-size: 12px;
    line-height: 12px;
}