.NavigationBar {
	padding: 0.1em;
	margin: 0.2em;
	background-color: white;
	color: #000000;
}
.NavigationBar_OutSide {
	list-style: none;
	padding: 0 1em;
	margin:0;
}
.NavigationBar_Step {
	display: inline;
	padding: 0.1rem;
	margin: 0.1rem;
	ul {
		li+li {
			&::before {
				font-size: inherit;
			}
		}
	}
	a {
		text-decoration: none;
	}
}
.NavigationBar_First_Step {
	font-size: inherit;
}
.NavigationBar_Continues_Step {
	font-size: inherit;
	&::before {
		content: "> ";
		font-weight: bold;
		color:#3a3a3a;
		
	}
}
.NavigationBar_Continues_Link {
	font-size: 12px;
	line-height: 12px;
}
.NavigationBar_End_Link {
	font-size: 12px;
	line-height: 12px;
}


