@import './mypzkit//components/mypz.scss';

html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

#root {
  height: 100vh;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

li, ul {
  list-style: none;
}

input, button, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* scrollbar */
body *::-webkit-scrollbar {
  width: 5px;
}
body *::-webkit-scrollbar-track {
  background-color: $color-shadow;
}
body *::-webkit-scrollbar-thumb {
  background: $color-main;
}
body *::-webkit-scrollbar-thumb:hover {
  background: $color-scrollbar;
}

/* inputs */
body *::placeholder {
  color: $color-placeholder;
}
