@import "../../mypzkit/components/mypz.scss";

.page-concierge-service {
  text-align: center;

  p {
    font-size: 13px;
  }

  .page-concierge-footer {
    font-style: italic;
    font-size: 13px;
    margin-bottom: 1rem;
  }
}