@import "../../../mypzkit/components/mypz.scss";

.page-properties-luxury {
  text-align: center;
  font-size: 13px;

  .page-properties-luxury__description {
    font-weight: bold;
  }

  .page-properties-luxury__section-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .page-properties-luxury__section-image__luxury {
      width: 45%;
      margin-bottom: 1.5rem;

      @include mobileBreakpoint() {
        width: 100%;
      }

      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }

      .section-image__luxury__button {
        position: relative;
        width: 12rem;
        box-sizing: border-box;
        top: 50%;
        left: calc(50% - 6rem);
      }
    }
  }

  .page-properties-luxury__help {
    margin-top: 1.5rem;

    .page-properties-luxury__help-form {
      border: 1px solid $color-border;
      border-radius: 0.8rem;
      padding: 1rem 1.5rem;
      width: 100%;
      margin: 1rem auto;
      box-sizing: border-box;

      @include desktopBreakpoint() {
        width: 50rem;
      }
    }
  }

  .page-properties-luxury__content {

    .page-properties-luxury__content__separator {
      border-top: 1px solid $color-border;
      margin: 2rem auto;
      width: 90%;
    }

    .page-properties-luxury__content-location__items {
      display: flex;
      justify-content: space-between;

      .page-properties-luxury__content-location__item-3 {
        width: 30%;
      }

      .page-properties-luxury__content-location__item-2 {
        width: 47%;
      }
    }

    .page-properties-luxury__content-location__header-main {

      display: flex;
      justify-content: center;

      .page-properties-luxury__content-location__header-main__trait {
        margin: 1rem 1rem 0;
        border-top: 2px solid $color-border;
        width: 5rem;
      }
    }
  }
}