@import "../../mypzkit/components/mypz.scss";

.page-career {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .page-career__alert {
    margin-bottom: 1rem;
  }
  
  .page-career__form {
    box-sizing: border-box;
    border: 1px $color-border solid;
    border-radius: 0.8rem;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
    
    p {
      font-size: 13px;
    }

    .page-career__form__checkbox-label {
      font-size: 13px;
    }

    @include desktopBreakpoint() {
      width: 70%;
    }

    .page-career__form__inputs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      font-size: 13px;

      .page-career__form__inputs-text {
        width: 48%;
        margin-bottom: 0.5rem;

        @include mobileBreakpoint() {
          width: 100%;
        }
      }

      .page-career__form__inputs-area {
        width: 100%;
        margin-bottom: 0.5rem;
      }

      .page-career__form__inputs-button {

        @include mobileBreakpoint() {
          width: 100%;
        }

        @include tabletBreakpoint() {
          width: 100%;
        }
      }
    }
  }

  .page-career__sidebar {
    font-size: 13px;
    box-sizing: border-box;
    border: 1px $color-border solid;
    border-radius: 0.8rem;
    padding: 0.5rem;
    margin-bottom: 1rem;

    .page-career__sidebar__block {
      margin-top: 1rem;
    }

    .page-career__sidebar__title {
      font-weight: bold;  
    }

    .page-career__sidebar__content {

      a {
        color: $color-main;
      }
    }
  }
}