@import '../mypz.scss';

.mypz-show-more {
  .mypz-show-more__content {
    transition: max-height 500ms ease;
    overflow: hidden;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), 15%, rgba(0, 0, 0, 1));

    &.mypz-show-more__content-expanded {
      mask-image: none;
    }
  }

  .mypz-show-more__button {
    text-align: center;
    cursor: pointer;
  }
}